In [1]:
# Creo este script para normalizar y extraer los datos que precio para responder a las Consultas del Trabajo 1
import pandas as pd
import json

In [2]:
results=pd.read_csv("Datasets/results.csv")

In [3]:
# Note que hay muchos datos que estan faltantes y otros \N pero no son necesarios para las consultas, por lo que voy a crear una database
# filtrado con las columnas que preciso para mejorar el procesamiento y verifico que estan completas.
results.head(10)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,34:50.6,5690616,39,2,01:27.5,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,5.478,5696094,41,3,01:27.7,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,8.163,5698779,41,5,01:28.1,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,17.181,5707797,58,7,01:28.6,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,18.014,5708630,43,1,01:27.4,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,\N,\N,50,14,01:29.6,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,\N,\N,22,12,01:29.5,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,01:27.9,217.18,5
8,9,18,9,2,4,2,\N,R,9,0.0,47,\N,\N,15,9,01:28.8,215.1,4
9,10,18,10,7,12,18,\N,R,10,0.0,43,\N,\N,23,13,01:29.6,213.166,3

In [4]:
results_filter=results.loc[:,["driverId","constructorId","raceId","positionOrder","points"]]
results_filter.head()

   driverId  constructorId  raceId  positionOrder  points
0         1              1      18              1    10.0
1         2              2      18              2     8.0
2         3              3      18              3     6.0
3         4              4      18              4     5.0
4         5              1      18              5     4.0

In [5]:
# Lo guardo en csv para importarlo con MySQL
results_filter.to_csv('Datasets/results_filtrados.csv')

In [6]:
results_filter.shape

(24940, 5)

In [7]:
# Importo el Json que previamente con Notepad++ verifique los [corchetes] y las ,comas,  
constructors=pd.read_json("Datasets/constructors.json")

In [8]:
constructors.head(20)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
5,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
6,7,toyota,Toyota,Japanese,http://en.wikipedia.org/wiki/Toyota_Racing
7,8,super_aguri,Super Aguri,Japanese,http://en.wikipedia.org/wiki/Super_Aguri_F1
8,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
9,10,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
10,11,honda,Honda,Japanese,http://en.wikipedia.org/wiki/Honda_Racing_F1
11,12,spyker,Spyker,Dutch,http://en.wikipedia.org/wiki/Spyker_F1
12,13,mf1,MF1,Russian,http://en.wikipedia.org/wiki/Midland_F1_Racing
13,14,spyker_mf1,Spyker MF1,Dutch,http://en.wikipedia.org/wiki/Midland_F1_Racing
14,15,sauber,Sauber,Swiss,http://en.wikipedia.org/wiki/Sauber
15,16,bar,BAR,British,http://en.wikipedia.org/wiki/British_American_...
16,17,jordan,Jordan,Irish,http://en.wikipedia.org/wiki/Jordan_Grand_Prix
17,18,minardi,Minardi,Italian,http://en.wikipedia.org/wiki/Minardi
18,19,jaguar,Jaguar,British,http://en.wikipedia.org/wiki/Jaguar_Racing
19,20,prost,Prost,French,http://en.wikipedia.org/wiki/Prost_Grand_Prix

In [32]:
constructors.to_csv('Datasets/constructors_filtrados.csv')
# Lo exporto a csv para importarlo con MySQL